html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*------ Removing styles from links ------*/

a {
  text-decoration: none;
  color: #080706;
}

a:active {
  text-decoration: none;
  color: #080706;
}

a:visited {
  text-decoration: none;
  color: #080706;
}

/*----------------------------------------*/

/*-------- Controlling h2 styles ---------*/

h2 {
  font-size: 24pt;
  font-family: helvetica;
  color: #D1B280;
  padding: 15px 0 15px 0;
}

/*----------------------------------------*/

/*------ Main header space and font ------*/

#main-header {
  font-size: 10em;
  font-family: helvetica;
  padding: 200px 0 150px 0;
}

/*----------------------------------------*/



/*-------- Map sizing and spacing --------*/
#googft-mapCanvas {
  padding: 30px;
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  clear: both;
}

#googft-mapCanvas img {
	max-width: none !important;
}

/*----------------------------------------*/
