/*#080706  “Black Steel”

#EFEFEF  “Paper”

#D1B280  “Gold Leaf”

#594D46  “Silver”*/

* {
  border: 1px solid orange;
}

p {
  color: black;
  font-family: helvetica;
}



/* ------------About us styling by maddy--------------*/

#about {
  width: 90%;
  margin: 2% auto;
  border-radius:

}

.team img {
  display: block;
  width: 15%;
  height: auto;
  float: left;

}

.team div {
  margin: 0 auto;
  height:
}

.blurb {
  padding-top: 10%;
  padding-left: 30%;

}

.blurb p {
 display: inline;
 font-family: sans-serif;

}

.blurb span {
  font-size: 2em;
  display: block;
  font-family: sans-serif;
}

.socialmedia ul li {
  list-style-type: none;
  float: left;
}

.socialmedia a {
  font-size: 25px;;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 1px;
  padding-right: 5%;

}
